/*  Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #acdf71;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icon {
    font-size: 20px;
    color: #355E3B;
    text-decoration: none;
    position: relative;
}

.icon:hover {
    color: #acdf71;
}

/* Contact Section - Contact */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 5%;
    min-height: calc(100vh - 200px); /* Adjust 200px based on header/footer height */
}

.contact-card {
    display: flex;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.contact-info {
    background: #2e7d32;
    color: white;
    padding: 40px;
    flex: 1;
}

.contact-info h2 {
    margin-bottom: 15px;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-list i {
    font-size: 20px;
    margin-right: 15px;
}

.contact-form {
    padding: 40px;
    flex: 2;
}

.form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #2e7d32;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #256a2a;
}
/* for copyright footer*/
.footer {
  background-color: #222;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
.page-wrapper {
    min-height: calc(100vh - 50px); /* footer height */
}