/*  Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #acdf71;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icon {
    font-size: 20px;
    color: #355E3B;
    text-decoration: none;
    position: relative;
}

.icon:hover {
    color: #acdf71;
}
/* for contact */
.contact {
    padding: 60px 10%;
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h1 {
    font-size: 2.4rem;
    color: #2e7d32;
}

.contact-header p {
    color: #555;
}

/* LAYOUT */
.contact-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

/* info */
.contact-info {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.contact-info h2 {
    color: #2e7d32;
    margin-bottom: 12px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    margin-bottom: 10px;
}

/* form box */
.contact-form {
    flex: 1;
    background: #2e7d32;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

/* text area */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border: none;
    border-radius: 10px;
    font-size: 0.95rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ffffff90;
}

/* Button */
.contact-form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: white;
    color: #2e7d32;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #e8e8e8;
}
/* for copyright footer*/
.footer {
  background-color: #222;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
.page-wrapper {
    min-height: calc(100vh - 50px); /* footer height */
}
