/*  Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #acdf71;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
}
/* icons */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icon {
    font-size: 20px;
    color: #355E3B;
    text-decoration: none;
    position: relative;
}

.icon:hover {
    color: #acdf71;
}
/* shopnow */
.shop-now-btn {
    display: inline-block;
    padding: 15px 45px;
    background-color: #acdf71;
    color: #355E3B;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #355E3B;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.featured {
    padding: 60px 20px;
    background-color: #f5f5f5;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.container img {
    width: 350px;
    border-radius: 10px;
}

.content h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.content p {
    line-height: 1.6;
}

.confirm-btn {
    margin-top: 20px;
    padding: 12px 35px;
    border-radius: 30px;
    border: none;
    background-color: #355E3B;
    color: white;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #2c4d31;
}
.footer {
    background-color: black;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.footer-column {
    max-width: 300px;
}

.footer-column h3 {
    color: goldenrod;
}

.footer-column a {
    color: white;
    text-decoration: none;
}